@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto&display=swap');

/* Start global styles */
body {
	font-family: "Roboto", 'Halvetica', 'Sans-Serif';
	margin:auto;
	padding:0;
	font-size: 1rem;
	font-weight: 400;
	color: rgb(182, 181, 181);
	line-height: 1.7;
	overflow: hidden;
	height: 100vh;
}

* {
	outline: none;
}

*:not(.slick-track):not(.slick-list) {
	transition: 0.2s;
}

#mainPageBlock {
	height: 100%;
	overflow-y: scroll;
	scroll-behavior: smooth;
}

.container {
	max-width: 1140px;
	margin: 0 auto;
	padding: 0 20px;

}

.flex {
	display: flex;
	justify-content: space-between;
}

h1, h2, h3, h4, h5 {
	margin: 0;
	padding: 0;
}

h1, h2 {
	font-family: "Playfair Display", serif;
	font-weight: 800;
}

h1 {
	font-size: 3rem;
	line-height: 1.2;
	margin-bottom: 1rem;
}

h2 {
	font-size: 2.5rem;
	color: #f69314;
	margin-bottom: 1rem;
	line-height: 1.2;
}

h3 {
	font-size: 1.4rem;
	font-weight: 300;
}

h4 {
	font-size: 1.2rem;
	font-weight: 300;
}

h5 {
	font-size: 1rem;
	font-family: "Playfair Display", serif;
}

p {
	margin: 0 0 1rem;
}

button.rounded {
	background: #f69314;
	border: none;
	color: #fff;
	font-size: 16px;
	border-radius: 30px;
	padding: 10px 30px;
	line-height: 1.5;
	cursor: pointer;
}

p.large-paragraph {
	font-size: 1.25rem;
	font-weight: 300;
}
/* End global styles */

/* start: header styles */

#header-container {
	min-height: 600px;
	height: calc(100vh);
	position: relative;
}

header {
	background: transparent;
	padding: 1rem 0;
	border-bottom: 1px solid rgba(255, 255, 255, 0.1);
	position: fixed;
	width: calc(100% - 17px);
	z-index: 3;
}

#logo {
	font-family: "Roboto", "Helvetica", "Sans-Serif";
	font-size: 1.7rem;
	font-weight: 800;
	color: #fff;
	text-decoration: none;
	position: relative;
	top: 4px;

}

#logo:hover {
	text-shadow: 1px 1px 2px #ffffff;
}

.real-estate-menu {
	background-color: transparent;
	border: 1px solid #fff;
	padding: 3px 5px;
	width: 30px;
	cursor: pointer;
	margin-top: 10px;
	display: none;
}

.real-estate-menu .strip{
	display: block;
	height: 1px;
	background-color: red;
	margin: 4px 0;
}

header ul {
	list-style-type: none;
	user-select: none;
}

header ul li {
	display: inline-block;
	margin: 0 15px;
}

#close-flyout {
	display: none;
}

header ul li a {
	color: rgb(212, 209, 209);
	font-size: 16px;
	text-decoration: none;
	transition: 20ms;

}

header ul.is-sticky li a {
	color: #000;
}

header ul li a:hover,
header ul li a.active {
	color: #fff;
	text-shadow: 0 0 2px #ffffff;
	font-weight: 700;
	transition: 20ms;
}

header ul.is-sticky li a:hover,
header ul.is-sticky li a.active {
	color: rgba(1, 1, 2, 0.774);
	text-shadow: 0 0 0 #000000;
	font-weight: 700;
	transition: 50ms;
}
/* end: header styles */

/* start: top-content section styles*/
#top-content {
	background: url('https://gvidasgvd.github.io/realEstatePage.github.io/images/property3.JPG') no-repeat;
	/* background-repeat: no-repeat; */
	background-size: cover;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	height: 100%;
	width: 100%;
	transition: 2s;
}

#top-content .top-content-fade {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(52, 58, 64, 0.7);
	z-index: 1;
}

#top-content .top-content-text {
	position: absolute;
	top: 40%;
	margin: -75px auto 0;
	left: 0;
	right: 0;
	z-index: 2;
	color: #fff;
	width: 500px;
	text-align: center;
	transition: 500ms;
}

#top-content .top-content-text p {
	line-height: 1.5rem;
	font-weight: 300;
	font-size: 1rem;
}
#top-content .top-content-text p a{
	text-decoration: none;
	color: white;
	transition: 50ms;
}

/* end: top-content sectionstyles*/

/* start: how it works styles */
#how-it-works {
	padding: 3rem 0;
	background: #f8f9fa;
	text-align: center;
}

#how-it-works h2 {
	margin-bottom: 3rem;
}

#how-it-works .flex > div {
	width: 30%;
}

#how-it-works h4 {
	color: #f69314;
	margin-top: 1rem;
}

#how-it-works span.fas {
	color: #f69314;
	font-size: 35px;
}
/* end: how it works styles */

/* start: properties styles */
#properties {
	margin: 0;
	padding: 6rem 0;
	position: relative;
}

#properties h2 {
	margin-bottom: 3rem;
}

#properties .container {
	position: relative;
}

#properties .container:before {
	content: "/";
	position: absolute;
	right: 75px;
	top: 18px;
	color: #999;
}

#properties-slider a.slick-arrow {
	color: rgb(41, 41, 41);
	position: absolute;
	top: -78px;
	right: 0;
	text-transform: uppercase;
	letter-spacing: 0.1rem;
	text-decoration: none;
}

#properties-slider a.slick-arrow:hover {
	text-shadow: 1px 1px 2px grey;
}

#properties-slider a.slick-prev {
	right: 70px;
	color:rgb(41, 41, 41);
}

#properties-slider .slick-slide {
	padding: 0 15px;
}

#properties-slider img {
	width: 100%;
	height: 80%;
	display: block;
}

#properties-slider .property-details {
	padding: 1rem;
}

#properties-slider .price {
	font-size: 1.2rem;
	color: #343a40;
	font-weight: 800;
	margin: 0 0 0.5rem 0;
}

#properties-slider .property-details span {
	font-size: 0.8rem;
	padding-right: 15px;
}

#properties-slider .property-details span.floor {
	padding-left: 10px;
}

#properties-slider .property-details span.sqrm {
	padding-right: 0;
	padding-left: 10px;
}

#properties-slider .property-details span.beds,
#properties-slider .property-details span.floor {
	border-right: 1px solid #888;
}

#properties-slider .property-details address {
	font-size: 0.8rem;
	font-style: normal;
	margin-top: 0.5rem;
}

#properties button.rounded {
	display: block;
	margin: 2rem auto 0;
	width: 300px;
}
/* end: properties styles */

/* start: popup-modal */
.popup-modal {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
	top: 0;
	justify-content: center;
	align-items: center;
	z-index: 100;
}


.popup-modal-content {
	background-color: white;
	border-radius: 4px;
	z-index: 4;
}

#propertyListingsContent.active,
#bestCompanyModalContent.active,
#servicesModalContent.active {
	-webkit-transform: scale(1);
	transform: scale(1);
}

#propertyListingsContent,
#bestCompanyModalContent,
#servicesModalContent {
	-webkit-transform: scale(0);
	transform: scale(0);
	width: 600px;
	height: 400px;
}

#propertyListingsModal,
#bestCompanyModal,
#servicesModal {
	display: none;
}

#propertyInfoBlock,
#bestCompanyModalInfoBlock,
#servicesModalInfoBlock{
    display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	height: 100%;
    align-items: center;
    text-align: left;
	padding: 0 30px;
	color: rgb(182, 181, 181);
}

.btnPositionRight {
	position: absolute;
	right: 0;
}
.closeModalBtn {
	position: relative;
	cursor: pointer;
	background-color: white;
	border-color: #f69314;
	border-radius: 4px;
	box-shadow: none;
	color: #f69314;
	margin: 10px 10px 0 0;
	padding: 5px 10px;
}

.closeModalBtn:hover {
	background-color: #f69314;
	color: white;
}


/* end: popup-modal */
/* start: agents modal styles */


.agents-modal-description{
	width: 100%;

}
/* end: agents modal styles */
/* start: agents styles */
#agents {
	margin: 0;
	padding: 6rem 0;
	border-bottom: 1px solid #ccc;
	background: #f8f9fa;
}

#agents p.large-paragraph {
	width: 50%;
	margin-bottom: 4rem;
}

#agents .flex {
	flex-wrap: wrap;
	padding: 0;
}

#agents .card{
	width: 23%;
	background-color: rgb(221, 221, 221);
	margin-bottom: 2rem;
	min-width: 200px;
	box-shadow: 2px 2px 5px grey;
}
 
#agents .card.flex{
	display: flex;
}

#agents .card img{
	width: 100%;
	min-width: 200px;
	/* width: 300px; */
	height: 250px;
}

#agents .card h3 {
	font-family: "Playfair Display", serif;
	color: #000;
}

#agents .card h3,
#agents .card p{
	padding-left: 1rem;
	color: #4c4c4c;
}

#agents .card.flex .agentsInfoContainer{
	float: right;
	color:red;
}

.agentsInfoContainer ul li {
	color: #4c4c4c
}
/* end: agents style */

/* start: best real estate  company style */
#the-best {
	padding: 6rem 0;
}

#the-best .flex > img {
	width: 47%;
	background: url('https://gvidasgvd.github.io/realEstatePage.github.io/images/houses.JPG') no-repeat center center fixed;
	background-size: cover;
	box-shadow: 0px 0px 3px 3px grey;
}

#the-best .flex > div {
	width: 40%;
}

#the-best ul{
	padding-left: 20px;
	margin-bottom: 4rem;
}

#the-best ul li {
	margin: 10px 0;
}

/* end: best real estate company style */

/* start: services styles */

#services {
	background: #f8f9fa;
	padding: 6rem 0;
	border-bottom: 1px solid #dee2e6;
}

#services h2 {
	text-align: center;
	margin-bottom: 3rem;
}

#services .flex {
	flex-wrap: wrap;
}

#services .flex > div {
	width: 30%;
	margin-bottom: 2rem;
}

#services .flex > div .fas {
	color: #f69314;
	font-size: 40px;
	float: left;
	margin-top: 15px;
	width: 20%;
	text-align: center;
}

#services .flex > div .services-card-right {
	float: right;
	width: 75%;
}

#services .flex > div a {
	color: #f69314;
	text-decoration: none;
}

#services .flex > div a:hover{
	text-decoration: underline;
}

.services-button {
	background-color: transparent;
	border: none;
	color: #f69314;
	font-size: 16px;
	line-height: 1.5;
	padding: 0;
	cursor: pointer;
}

.services-button:hover {
	text-decoration: underline;
}
/* end: services styles*/

/* start: testimonials styles */
#testimonials {
	padding: 6rem 0;
}

#testimonials h2 {
	text-align: center;
}

#testimonials-slider .slick-slide{
	text-align: center;
}

#testimonials-slider blockquote{
	font-size: 1.5rem;
	font-style: italic;
	margin: 1rem auto 3rem;
	max-width: 740px;
}

#testimonials-slider .testimonials-caption {
	width: 200px;
	margin: 0 auto;
}

#testimonials-slider .testimonials-caption img {
	float: left;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	margin-right: 10px;
}

.testimonials-caption p {
	position: relative;
	top: 13px;
	font-size: 1.2rem;
}

#testimonials-slider .slick-arrow {
	text-decoration: none;
	position: absolute;
	font-size: 40px;
	color: #222;
	top: 50%;
	margin-top: -35px;
	z-index: 2;
}

#testimonials-slider .slick-next {
	right: 0;
	z-index: 2;
}
/* end: testimonials styles */

/* start: contact us styles */

#contact {
	background: #f8f9fa;
	padding: 4rem 0 8rem;
}

#contact h2 {
	text-align: center;
	margin-bottom: 4rem;
}

#form-container {
	width: 58%;
	background: #fff;
	padding: 3rem;
	box-sizing: border-box;
}

#form-container h3 {
	color: #000;
	font-family: "Playfair Display", serif;
	margin-bottom: 2rem;
}

#form-container label {
	display: block;
	color: #000;
	margin-top: 1rem;
}

#form-container input,
#form-container textarea {
	display: block;
	border-radius: 20px;
	padding: 10px;
	border: 1px solid #ced4da;
	width: 100%;
	box-sizing: border-box;
	height: 43px;
	font-family: "Roboto", "Helvetica", "Sans-Serif";
	font-size: 1rem;
	color: #495057;
}

#form-container textarea {
	height: 170px;
	margin-bottom: 2rem;
	resize: none;
}

#address-container {
	width: 38%;
	background: #fff;
	padding: 1.5rem;
	box-sizing: border-box;
	height: 300px;
}

#address-container label {
	font-weight: 700;
	display: block;
	margin-top: 2rem;
}

#address-container label:first-child {
	margin-top: 0;
}

#address-container address {
	margin-bottom: 1.5rem;
	font-style: normal;
}

#address-container a {
	text-decoration: none;
	color: #f69314;
}

#address-container a:hover {
	text-decoration: underline;
}
/* end: contact us styles */

/* start: footers styles */
footer {
	background: #333;
	padding: 3rem 0;
}

footer .flex {
	padding-bottom: 6rem;
	border-bottom: 1px solid #777;
}

footer h5 {
	color: #fff;
	margin-bottom: 1rem;
	font-weight: 300;
}

footer h5.follow-us {
	margin-top: 1rem;
}

footer .footer-about {
	width: 47%;
}

footer .footer-about p {
	width: 65%;
}

footer .footer-quick-links {
	width: 16%;
}

footer .footer-quick-links ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

footer .footer-quick-links ul li {
	margin: 10px 0;
}

footer .footer-quick-links ul li a {
	color: rgb(182, 181, 181);
	text-decoration: none;
}

footer .footer-quick-links ul li a:hover {
	color: #fff;
}

footer .footer-subscribe {
	width: 35%;
}

#subscribe-container {
	position: relative;
}

footer .footer-subscribe input{
	border-radius: 30px;
	height: 43px;
	font-family: "Roboto", "Helvetica", "Sans-Serif";
	border: 1px solid #6c757d;
	background-color: transparent;
	font-size: 1rem;
	padding: 10px;
	color: #fff;
	box-sizing: border-box;
	width: 80%;
}

footer button.right-rounded{
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	background: #f69314;
	font-size: 16px;
	color: #000;
	padding: 10px 30px  9px;
	line-height: 1.5;
	cursor: pointer;
	border: none;
	position: absolute;
	right: 0;

}

footer button.right-rounded:hover {
	background: #fff;
}

footer .footer-subscribe ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

footer .footer-subscribe ul li {
	display: inline-block;
	margin: 0 16px;
}

footer .footer-subscribe ul li:first-child {
	margin-left: 0;
}

footer .footer-subscribe ul li a {
	text-decoration: none;
	color: rgb(177, 177, 177);
}

footer .footer-subscribe ul li a:hover{
	color: #fff;
}

footer small {
	margin-top: 3rem;
	font-size: 1rem;
	display: block;
	text-align: center;
	color: #777;
}

footer small a{
	color: #777;
	text-decoration: none;
}

footer small a:hover {
	color: #fff;
	cursor: pointer;
}
/* end: footers styles */

/* start: media queries */

@media (max-width: 991px) {
	#logo {
		top: 1px;
	}

	#nav-toggle {
		display: block;
	}

	nav ul {
		position: fixed;
		background: #fff;
		right: -100%;
		top: 0;
		margin: 0;
		padding: 2rem;
		height: 100%;
		width: 300px;
		box-sizing: border-box;
		box-shadow: 5px 0 10px 3px #999;
	}

	#close-flyout {
		position: absolute;
		right: 2rem;
		top: 1.5rem;
		font-size: 30px;
		color: #777;
		cursor: pointer;
		display: block;
		line-height: 1;
		margin: 0;
	}

	nav ul li {
		display: block;
		margin: 20px 0;
	}

	nav ul li:first-child {
		margin-top: 50px;
	}

	nav ul li a {
		font-size: 20px;
		color: #212529;
	}

	nav ul li a.active,
	nav ul li a:hover {
		color: #f69314;
	}

	#agents .card{
		width: 30%;
	}
}

@media (max-width: 767px)  {
	h1 {
		font-size: 2rem;
	}

	h2 {
		font-size: 1.75rem;
	}

	h3 {
		font-size: 1.2rem;
	}

	.large-paragraph {
		font-size: 1rem;
	}

	p {
		font-size: 0.8rem;
	}

	.container {
		max-width: 540px;
	}

	#top-content .top-content-text {
		width: 400px;
	}

	#the-best .flex > img {
		display: none;
	}

	#the-best .flex > div {
		width: 100%;
	}

	#testimonials-slider p {
		font-size: 1.2rem;
	}

	#properties .container:before {
		top: 2px;
		font-size: 0.85rem;
	}

	#properties-slider a.slick-arrow {
		font-size: 0.85rem;
		color:#999;
	}

	#properties button.rounded {
		width: 300px;
	}

	#services .flex > div {
		width: 48%;
	}

	#contact .flex  {
		flex-wrap: wrap;
	}

	#form-container  {
		width: 100%;
		padding: 2rem;
	}

	#address-container {
		width: 100%;
		margin-top: 2rem;
	}

	footer {
		padding: 3rem 0;
	}

	footer .flex {
		flex-wrap: wrap;
	}

	footer .flex > div {
		width: 100%;
		margin-top: 1rem;
	}

	footer .flex > div:first-child {
		margin-top: 0;
	}

	footer .footer-about p {
		font-size: 1rem;
		width: 100%;
	}

	footer .footer-subscribe input {
		width: 90%;
	}

	footer h5.follow-us {
		margin-top: 2rem;
	}

	#agents .card{
		width: 45%;
	}

}

@media (max-width: 500px) {
	#top-content .top-content-text {
		width: 330px;
	}

	#agents {
		margin: 0;
		padding: 6rem 0;
	}

	#agents p.large-paragraph {
		width: 100%;
	}

	#how-it-works .flex {
		display: block;
	}

	#how-it-works .flex > div {
		width: 100%;
		margin-top: 2rem;
	}

	#properties button.rounded {
		width: 250px;
	}

	#services {
		padding: 4rem 0 3rem;
		margin: 0;
	}

	#services .flex > div {
		width: 100%;
	}

	#testimonials {
		margin-bottom: 4rem;
	}

	#testimonials-slider p {
		font-size: 1rem;
	}

	#testimonials-slider .slick-arrow {
		display: none !important;
	}

	#contact {
		padding: 4rem 0;
	}

	#contact h2 {
		margin-bottom: 2rem;
	}

	#form-container {
		padding: 1.5rem;
	}

	footer {
		padding: 3rem 0;
	}
	#agents .card{
		width: 55%;
	}

	#agents .flex {
		justify-content: center;
	}
}

/* end: media queries */